.table-wrapper {
  padding: 10px !important;
}

.metatags {
  background: #f5f6fa;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #eeebee;

  p.label {
    margin: 0;
    font-weight: bold;
    text-transform: none;
  }
}
