.table-wrapper {
  box-shadow: none !important;
}

.metatags {
  background: #f5f6fa;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #eeebee;

  p.label {
    margin: 0;
    font-weight: bold;
    text-transform: none;
    background-color: #1565c0 !important;
  }
}

a,
.nav-list-expander,
.icon {
  color: #1565c0 !important;
}

.sel-tableitem-wrap {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

#sel-tableitem {
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 0.875rem;
  background-color: #fff;
  color: #5c5962;
  border: 0;
}

#wcb {
  background-color: #fff;
  padding: 6px;
}

#wcb_a {
  color: #fff !important;
}
