{%- if page.has_children == true -%}
{%- assign child_pages = site[page.collection]
| default: site.html_pages
| where: "parent", page.title
| where: "grand_parent", page.parent -%}

{%- endif -%}

<table>
  <thead>
    <tr>
      <th>
        Date
      </th>
      <th>
        Title
      </th>
    </tr>
  </thead>
  <tbody>
    {% assign items = child_pages | sort: include.date_field | reverse %}
    {% for child in items %}
    <tr>
      <td>
        {{ child[include.date_field] | date: "%Y-%m-%d" }}
      </td>
      <td>
        <a href="{{ child.url | relative_url }}">{{ child.title }}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>