{%- comment -%}
The site tags component should list all tags used in the site.
At the top of the page each tag will be a link to link to the tag header on the page.
It should then have each tag as a header and list all the pages that include that tag.
{%- endcomment -%}

{% assign tags = site.metatags %}

{% if tags.size > 0 %}

<h2>Tags</h2>
<div class="metatags">
  {% for tag in tags %}
  {% assign tag_pages = site.pages | where_exp: "page", "page.tags contains tag.title" %}
  {% if tag_pages.size > 0 %}
  <p class="label"><a href="#{{ tag.title | slugify }}">{{ tag.title }}</a> {{ tag_pages.size }}</p>
  {% endif %}
  {% endfor %}
</div>

<h2>Pages by tag</h2>
{% for tag in tags %}
{% assign tag_pages = site.pages | where_exp: "page", "page.tags contains tag.title" %}
{% if tag_pages.size > 0 %}
<h3 id="{{ tag.title | slugify }}">{{ tag.title }}</h3>
<div>
  <table class="display">
    <thead>
      <tr>
        <th>Title</th>
        <th>Section</th>
      </tr>
    </thead>
    <tbody>
      {% for page in tag_pages %}
      <tr>
        <td><a href="{{ page.url | relative_url }}">{{ page.title }}</a></td>
        <td>{{ page.parent }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p><a href="#top" id="back-to-top">{{ site.back_to_top_text }}</a></p>
  <hr />
</div>
{% endif %}
{% endfor %}

{% endif %}