{%- comment -%}
The site tags component should list all tags used in the site.
At the top of the page each tag will be a link to link to the tag header on the page.
It should then have each tag as a header and list all the pages that include that tag.
{%- endcomment -%}

{% assign tags = site.metatags %}

{% if tags.size > 0 %}

<h2>List of site tags</h2>
<div class="metatags">
  {% for tag in tags %}
  <p class="label"><a href="#{{ tag.title | slugify }}">{{ tag.title }}</a></p>
  {% endfor %}
</div>

<h3>Pages by tag</h3>
{% for tag in tags %}
<h4 id="{{ tag.title | slugify }}">{{ tag.title }}</h4>
<div>
  <ul>
    {% for page in site.pages %}
    {% if page.tags contains tag.title %}
    <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
{% endfor %}

{% endif %}