---
layout: default
---

{{ content }}

<div id="sheet"></div>

<!-- Add CSS for DataTables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

<!-- Add latest min jquery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- Add script for DataTables JS -->
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js"></script>

<script>
    (function () {
        // Load the data from the CSV file
        function loadData() {
            Papa.parse("https://docs.google.com/spreadsheets/d/19tzGFPCGVyyloGaAuBpexvpI2BkY7B_IYQizy40M97Q/gviz/tq?tqx=out:csv&tq=SELECT%20*", {
                download: true,
                header: true,
                worker: true,
                complete: function (results) {
                    // Create the DataTable
                    console.log(results.data);
                },
                error: function (error) {
                    console.log(error);
                }

            });
        }

        // Call the function to load the data
        loadData();
    })();
</script>