---
layout: minimal
---

<div class="viewpoint">
  <div>
    <img src="{{ site.baseurl }}/assets/images/logo-viewpoints.svg" width="300px"
      alt="Logo showing an eye and the the text HELibTech Viewpoints" />

    {{ content }}
  </div>
</div>

{% include components/tags.html %}

<script src="/assets/js/html3pdf.bundle.min.js"></script>
<script>
  function printPDF() {
    var fileName = window.location.pathname.split('/').pop();
    var element = document.getElementsByClassName('viewpoint')[0];
    var opt = {
      margin: 10,
      filename: `${fileName}.pdf`,
      image: { type: 'jpeg', quality: 0.98 },
      html2canvas: { scale: 2 },
      jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
    };
    html3pdf(element, opt);
  };
</script>

<div class="pdf-print">
  <!-- Add a link button to run the printPDF function with the current URL -->
  <button onclick="printPDF();">Download as PDF</button>
</div>