---
layout: minimal
---


<img src="{{ site.baseurl }}/assets/images/logo-viewpoints.svg" width="300px"
  alt="Logo showing an eye and the the text HELibTech Viewpoints" />
<div class="viewpoint">
  {{ content }}
</div>

{% include components/tags.html %}

<script src="/assets/js/html3pdf.bundle.min.js"></script>
<script>
  function printPDF() {
    var fileName = window.location.pathname.split('/').pop();
    var element = document.getElementsByClassName('main-content')[0];
    var elementClone = element.cloneNode(true);
    var opt = {
      margin: 10,
      filename: `${fileName}.pdf`,
      image: { type: 'jpeg', quality: 0.98 },
      html2canvas: { scale: 2 },
      jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' },
      pagebreak: { mode: ['avoid-all', 'css', 'legacy'] }
    };
    html3pdf(elementClone, opt);
  };
</script>

<div class="pdf-print">
  <!-- Add a link button to run the printPDF function with the current URL -->
  <button onclick="printPDF();">Download as PDF</button>
</div>